/* H54084010 陳冠言 第2次作業 4/13 H54084010 Kuan-Yen, Chen The Second Homework 4/13*/
/*此頁css有呈現display, flexbox, nth-child*/
body {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

.headertext{
    height: 30px;
    background-color: khaki;
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

.english{
    position: absolute;
    right:2%;
}

.pic_tai{
    width: 60%; 
    display: block;
    margin: 0 auto;
} 

nav{
    background-color:beige;
}

#nav{
    display: flex;
    list-style-type:none;
    position: absolute;
    right: 2%;
}

.navbar1{
    padding:0.1rem 0.75rem;
}

.navbar{
    padding:0.5rem 0.75rem;
}

#aside_table{ 
    position: absolute;
    left: 5%;top:35%;
    border:1px solid black;
}

.content{
    border:1px solid black;
    padding: 1rem;
}

.tb1{
    border:1px solid black;
    padding: 0.5rem 3rem;
}
.tb2{
    border:1px solid black;
    padding: 0.5rem 2.5rem;
}
.tb3{
    border:1px solid black;
    padding: 0.5rem 1.5rem;
}
/* header皆通用 */

.the_content{
    margin: 2rem 5rem;
    position: absolute;
    left:20%;
}

#navul{
    display: flex;
    list-style-type:none;
    width: 100%;
    padding: 1rem 2rem;
}
nav ul#navul li{
    padding-left:2rem;
}
nav ul#navul li a{
    color: coral;
}
.dropdown{
    position: relative;
    display: inline-block;
}
  
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
.dropdown:hover .dropdown-content{
    display: block;
}

.flexbox > .flex{
    transition: all 1s ease-out;
    border: 2px solid orange;
    border-radius: 10px;
    width: 200px;
    height: 80px;
    margin: 10px -10px 10px 0px;
    padding: 20px;
    box-shadow: 10px 10px 10px yellow;
  }
.flexbox h2{
    margin-top: 2rem;
    color: brown;
    font-weight: bold;
}
.flexbox p{
    color: lightgoldenrodyellow;
}
.flexbox > .flex:nth-child(1){background-color: lightgoldenrodyellow;}
.flexbox > .flex:nth-child(2){background-color: lightgoldenrodyellow;}
.flexbox > .flex:nth-child(3){background-color: lightgoldenrodyellow;}
.flexbox > .flex:nth-child(4){background-color: lightgoldenrodyellow;}
.flexbox > .flex:nth-child(5){background-color: lightgoldenrodyellow;}
.flexbox > .flex:hover{
    width: 400px;
    font-weight: bold;
}
.flexbox:hover p{
    color: black;
}
.flexbox > .flex:nth-child(1):hover{background-color: lightcoral;}
.flexbox > .flex:nth-child(2):hover{background-color: lightcoral;}
.flexbox > .flex:nth-child(3):hover{background-color: lightcoral;}
.flexbox > .flex:nth-child(4):hover{background-color: lightcoral;}
.flexbox > .flex:nth-child(5):hover{background-color: lightcoral;}
    
/* footer皆通用 */
footer{
    position:relative;
    bottom: -5400px;
    display:flex;
    list-style-type:none;
    width: 100%;
    background-color: chocolate;
}

.footer_div1{
    padding: 1rem 7rem;
}
.footer_div2{
    display: flex;
    list-style-type:none;
    padding-left:30rem;
}
.footer_div3{
    padding-left: 2rem;
    padding-right: 2rem;
}
.footer_div4{
    padding-left: 2rem;
}
.footer_span{
    color:#ffffff;
    font-size: 1rem;
}

.footer_span1{
    color:#ffffff;
    font-size:1rem;
}