/* H54084010 陳冠言 第2次作業 4/13 H54084010 Kuan-Yen, Chen The Second Homework 4/13*/
/*此頁css有呈現media特效*/
body {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

.headertext{
    height: 30px;
    background-color: khaki;
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

.english{
    position: absolute;
    right:2%;
}

.pic_tai{
    width: 60%; 
    display: block;
    margin: 0 auto;
} 

nav{
    background-color:beige;
}

#nav{
    display: flex;
    list-style-type:none;
    position: absolute;
    right: 2%;
}

.navbar1{
    padding:0.1rem 0.75rem;
}

.navbar{
    padding:0.5rem 0.75rem;
}
/*header*/
section{
    padding: 3rem 5rem;
    margin-top: 5rem;
}
.tmp1{
    font-size: 1.5rem;
    color: chocolate;
}
.tmp2{
    font-size: 1.5rem;
    color: chocolate;
    padding-top: 1rem;
}
section blockquote{
    font-size: 1.2rem;
    color: chocolate;
}

.wrapper {
    overflow: auto;
}

#right {
  float: none;
  width: auto;
  position: relative;
  left:800px;
  bottom:500px;
}

#item {
    margin: 0;
    padding: 0;
  }

.menuitem {
  background: #CDF0F6;
  border: 1px solid #d4d4d4;
  border-radius: 1px;
  list-style-type: none;
  margin: 4px;
  padding: 3px;
  width: 150px;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}

@media screen and (min-width: 480px) {
  #leftsidebar {width: 200px; float: left;}
  #main {margin-left: 216px;}
}

/*footer*/
footer{
    position:relative;
    bottom: 0px;
    display:flex;
    list-style-type:none;
    width: 100%;
    background-color: chocolate;
}
.footer_div1{
    padding: 1rem 7rem;
}
.footer_div2{
    display: flex;
    list-style-type:none;
    padding-left:30rem;
}
.footer_div3{
    padding-left: 2rem;
    padding-right: 2rem;
}
.footer_div4{
    padding-left: 2rem;
}
.footer_span{
    color:#ffffff;
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif;
}

.footer_span1{
    color:#ffffff;
    font-size:1rem;
    font-family:'Times New Roman', Times, serif;
}