/* H54084010 陳冠言 第2次作業 4/13 H54084010 Kuan-Yen, Chen The Second Homework 4/13*/
body {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

.headertext{
    height: 30px;
    background-color: khaki;
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

.english{
    position: absolute;
    right:2%;
}

.pic_tai{
    width: 60%; 
    display: block;
    margin: 0 auto;
} 

nav{
    background-color:beige;
}

#nav{
    display: flex;
    list-style-type:none;
    position: absolute;
    right: 2%;
}

.navbar1{
    padding:0.1rem 0.75rem;
}

.navbar{
    padding:0.5rem 0.75rem;
}

#aside_table{ 
    position: absolute;
    left: 5%;top:35%;
    border:1px solid black;
}

.content{
    border:1px solid black;
    padding: 1rem;
}

.tb1{
    border:1px solid black;
    padding: 0.5rem 3rem;
}
.tb2{
    border:1px solid black;
    padding: 0.5rem 2.5rem;
}
.tb3{
    border:1px solid black;
    padding: 0.5rem 1.5rem;
}
/* header皆通用 */

section{
    margin: 2rem 5rem;
    position: absolute;
    left:20%;
}
section h2{
    padding-top: 1rem;
}
section h3{
    color:coral";
}
.box_color{
    margin-top: 2rem;
    width: 500px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(
        90deg, rgb(240, 230, 158) 15%,rgb(244, 223, 107) 50%,
        rgb(241, 216, 58) 75%);
    float: left;
}
/*footer*/
footer{
    position:relative;
    bottom: -1400px;
    display:flex;
    list-style-type:none;
    width: 100%;
    background-color: chocolate;
}
.footer_div1{
    padding: 1rem 7rem;
}
.footer_div2{
    display: flex;
    list-style-type:none;
    padding-left:30rem;
}
.footer_div3{
    padding-left: 2rem;
    padding-right: 2rem;
}
.footer_div4{
    padding-left: 2rem;
}
.footer_span{
    color:#ffffff;
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif;
}

.footer_span1{
    color:#ffffff;
    font-size:1rem;
    font-family:'Times New Roman', Times, serif;
}